#Experience {
  background-color: #120918;
  /* padding: 100px; */
  width: 100%;
  padding-top: 100px;
  padding-bottom: 0px;
  margin: 0;
}
#Experience > h1 {
  --font_0: normal normal normal 63px/1.4em lulo-clean-w01-one-bold,
    lulo-clean-w05-one-bold, sans-serif;
  font: var(--font_0);
  background-image: linear-gradient(
    81.02deg,
    #fa5560 -23.47%,
    #b14bf4 45.52%,
    #4d91ff 114.8%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 7rem;
  margin: auto;
  text-align: center;
  letter-spacing: 5px;
  padding-bottom: 30px;
}

.vertical-timeline::before {
  background: white !important;
}
.vertical-timeline-element {
  overflow-x: visible;
}
.verticalTimeline {
  margin: auto;
  /* padding: 100px; */
  padding-bottom: 0%;
  --font_0: normal normal normal 15px/1.4em lulo-clean-w01-one-bold,
    lulo-clean-w05-one-bold, sans-serif;
  font: var(--font_0);
}

.vertical-timeline-element-content {
  /* background-image: linear-gradient(to right, #000000, #130f40); */
  background-color: #130f40;
  color: #fff;
  margin-bottom: 50px;
  box-shadow: none;
}

.vertical-timeline-element-icon {
  background-color: rgb(13, 13, 55);
}
.vertical-timeline-element-title,
.vertical-timeline-element-subtitle {
  width: 100%;
  background-image: linear-gradient(
    81.02deg,
    #fa5560 -23.47%,
    #b14bf4 45.52%,
    #4d91ff 114.8%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.vertical-timeline-element-title {
  height: 30px;
  font-size: 23px;
  white-space: nowrap;
}
.workIcon > img {
  height: 60px;
}
@media screen and (max-width: 700px) {
  #Experience > h1 {
    font-size: 3rem;
  }
}
@media screen and (max-width: 1200px) {
  .verticalTimeline {
    padding: 50px 25px 25px 25px;
  }
  .vertical-timeline-element-content {
    margin-bottom: 0px;
  }
  .workIcon > img {
    height: 40px;
  }
}
