#project {
  background: #120918;
  padding: 100px 10px 0px 10px;
  margin: 0;
}
#project > h1 {
  --font_0: normal normal normal 63px/1.4em lulo-clean-w01-one-bold,
    lulo-clean-w05-one-bold, sans-serif;
  font: var(--font_0);
  letter-spacing: 5px;
  font-size: 7rem;
  text-align: center;
  margin-bottom: 80px;
  background-image: linear-gradient(
    81.02deg,
    #fa5560 -23.47%,
    #b14bf4 45.52%,
    #4d91ff 114.8%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.project-overview {
  margin: auto 5%;
}

@media screen and (max-width: 700px) {
  #project > h1 {
    font-size: 3rem;
  }
}
